@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster+Two:wght@400;700&family=Londrina+Solid&family=Patua+One&family=Teko:wght@400;700&family=ZCOOL+KuaiLe&display=swap");

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1440px;
  overflow: hidden;
  background-color: orange;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
  font-family: "Teko";
  color: orange;
}
/* 
h5 {
  height: fit-content;
  margin: 0;
  font-size: 64px;
  font-family: "Teko";
}

h5 span {
  color: rgba(255, 90, 8, 1);
} */

input::placeholder {
  opacity: 0.5;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
